{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="{% static 'team4_chatgpt/css/top.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          
</head>

<body>
    <h1>試験問題作成</h1>
    <header>
        <nav>
            <ul>
                <li><a href="{% url  'team4_chatgpt:top' %}">ホーム</a></li>
                <li><a href="#">サービス</a></li>
                <li><a href="#">製品</a></li>
                <li><a href="#">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ChatGPT</button>
    </form>

    <div class="chat-results">
        {{ chat_results }}
    </div>
</body>

</html>
