{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="{% static 'team4_chatgpt/css/top.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          
</head>

<body>
    <h1>試験問題作成</h1>
    <header>
        <nav>
            <ul>
                <li><a href="{% url  'team4_chatgpt:top' %}">ホーム</a></li>
                <li><a href="#">新規学生登録</a></li>
                <li><a href="#">教材登録</a></li>
                <li><a href="#">登録内容変更</a></li>
                <li><a href="#">学生情報</a></li>
                <li><a href="#">進路指導</a></li>
            </ul>
        </nav>
    </header>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ChatGPT</button>
    </form>

    <div class="chat-results">
        {{ chat_results }}
    </div>
</body>

</html>
