{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サイト名</title>
    <link rel="stylesheet" type="text/css" href="{% static 'team4_chatgpt/css/top.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url  'team4_chatgpt:index' %}">試験問題作成</a></li>
                <li><a href="{% url 'team4_chatgpt:student' %}">新規学生登録</a></li>
                <li><a href="{% url 'team4_chatgpt:text' %}">教材登録</a></li>
                <li><a href="#">登録内容変更</a></li>
                <li><a href="#">学生情報</a></li>
                <li><a href="#">進路指導</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>ウェルカムメッセージ</h1>
            <p>サイトの説明やキャッチフレーズ</p>
            <a href="#" class="cta-button">詳細を見る</a>
        </section>

        <div class="container">
              <div class="row">
                  <div class="col-12 mb-3">
                      <a href="{% url 'team4_chatgpt:login' %}" class="btn btn-outline-primary btn-block">ログイン</a>
                  </div>
                  <div class="col-12">
                      <a href="{% url 'team4_chatgpt:signup' %}" class="btn btn-outline-primary btn-block">ユーザ登録</a>
                  </div>
        </div>


        <section class="features">
            <div class="feature">
                <h2>特徴１</h2>
                <p>問題作成</p>
                <p>試験問題の作成を補助します！</p>
            </div>
            <div class="feature">
                <h2>特徴２</h2>
                <p>進路指導</p>
                <p>生徒の進路指導を助けます！</p>
            </div>
            <div class="feature">
                <h2>特徴３</h2>
                <p>問題保存</p>
                <p>問題と正答率をセットで保存！</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 サイト名</p>
    </footer>
</body>
</html>
